body {
  background-color: rgb(250, 240, 223);
}

.jumbotron {
  border: 2px solid black;
  padding: 10px;
  background-color: #fdfdfdc4;
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 75%;
  text-align: center;
  display: block;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
  font-weight: 300;
}

.header p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-body {
  border: 2px solid black;
  padding: 5px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.card-body p {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-title h3 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.film {
  border: 0px solid black;
  padding: 5px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}


.Dawson { 
  border: 3px solid black;
  width: auto;
  height: 600px;
  margin: auto;
  margin-top: 30px;
  display: block;
}

.skiing {
  border: 0px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 30px;
}

.Hood1 {
  border: 3px solid black;
  width: 30%;
  margin: auto;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
}

.Hood2 {
  border: 3px solid black;
  width: 30%;
  margin: auto;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  float: right;
}